name: Test Python Package

on: [pull_request]

jobs:
  test:

    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
        python-version: [ '3.6', '3.7', '3.8' ]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
        architecture: 'x64'
    - name: Setup build environment
      run: |
        python -m pip install --upgrade pip
        pip install setuptools wheel twine
    - name: Install windows-specific dependencies
      if: matrix.os == 'windows-latest'
      run: |
        pip install torch==1.5.0+cpu -f https://download.pytorch.org/whl/torch_stable.html
    - name: Install dependencies
      run: |
        pip install -r requirements.txt
        pip install -r dev-requirements.txt
        python setup.py build_ext --inplace
    - name: Test
      run: |
        flake8 tests/ pytorchltr/
        python -m pytest tests --cov-report=xml --cov=pytorchltr
    - name: Report coverage
      uses: codecov/codecov-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        file: ./coverage.xml
